body{
  background-color: #f1f5f8;
}
hr {
  position: relative;
  top: 0px;
  border: none;
  height: 8px;
  background: #fc1010;
  width: 100px;
}
img{
  width: 150px;
}
.card{
  filter: drop-shadow(3px 3px 10px black);
}